section { margin-top: 60px; } // All blocks are section tags

.blockquote-wrapper {
  cite {
    display: block;
    text-align: right;
    color: lighten($grey-color, 5%);
    a { color: lighten($grey-color, 5%); }
  }
}

.who-we-are {
  ul {
    margin: 30px 0 0 0;
    list-style-type: none;
    li {
      display: block;
      margin: 15px 0 0 0;
      @extend %clearfix;
      img {
        display: block;
        float: left;
        margin: 8px 12px 0 0;
        width: -webkit-calc(25% - (#{$spacing-unit} / 2));
        width:         calc(25% - (#{$spacing-unit} / 2));
      }
    }
  }
}

$pricing-border-color: lighten($grey-color, 5%);
$pricing-padding-left: $spacing-unit * .5;
.pricing {
  max-width: 770px;
  margin: 60px auto;
  table {
    border-collapse: collapse;
    background: transparent;
    width: 100%;
  }
  tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
    td:last-of-type { border-right: none; }
    th:first-of-type { border-right: 1px solid $pricing-border-color; }
  }
  th {
    font-weight: normal;
    border: none;
    font-size: 120%;
  }
  th, td {
    text-align: left;
    padding: (0.5 * $pricing-padding-left) $pricing-padding-left;
  }
  td {
    border-top: 1px solid $pricing-border-color;
    border-left: none;
    border-bottom: none;
    border-right: 1px solid $pricing-border-color;
  }
}

@media(min-width: 800px) {
  .pricing table { font-size: 115%; }
}

.contact-us {
  font-size: 125%;
  font-style: italic;
  display: block;
  margin: 60px auto;
  text-align: center;
  width: 200px;
  &:hover { text-decoration: underline; }
}

hr.contact-us-hr {
  width: 75%;
  margin: 120px auto 0;
  display: block;
  border: none;
  border-top: 1px solid $grey-color-light;
}